@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

:root{
	--color1: #fff;
	--color2: #000;
	--bg1: #fff;
	--bg2: #FB4B4D;
}

.color1{
	color: var(--color1);
}

.color2{
	color: var(--color2);
}

a{
	text-decoration: none;
}

body{
	font-family: 'Roboto', sans-serif;
}

/* HEADER */

header{
	padding: 30px 30px;

	border: 1px solid var(--color2);
}

ul{
	list-style: none;
	margin: 0;
}

ul li a{
	color: var(--color2);
}

ul li a:hover{
	color: var(--color2);
}

header button{
	position: relative;
	top: 0;
	padding: 15px 44px;
	text-transform: uppercase;
	background-color: var(--bg2);
	border: 0;
	color: var(--color1);
	transition: all .1s ease-in;
}

header button a:hover{
	color: var(--color1);
}

header button:hover{
	top: -2px;
}

/* PAGE 1 */

.page1{
	border-right: 1px solid var(--color2);
	border-left: 1px solid var(--color2);
}

.page1 .col-6{
	padding: 0;
	border-right: 1px solid var(--color2);
}

.logo-element{
	border-left: 1px solid var(--color2);
	border-bottom: 1px solid var(--color2);
	border-top: 0;
}

.logo-element img{
	width: 636px;
}

/* MARQUEE */

.marquee-container {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	padding: 23px;
	border-bottom: 1px solid var(--color2);
	border-left: 1px solid var(--color2);
	border-top: 0;
}

.marquee {
	display: flex;
	align-items: center;
	justify-content: center;
	animation: marquee 10s linear infinite;
}

.marquee img{
	margin-right: 29px;
}

.marquee h3{
	font-size: 17px;
	margin: 0;
}

@keyframes marquee {
	0% { transform: translateX(100%); }
	100% { transform: translateX(-100%); }
}

/* ----- */

.image-item{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 15px;
	border-left: 1px solid var(--color2);
	border-bottom: 1px solid var(--color2);
	border-top: 0;
}

.image-item img{
	width: 100%;
}

.title{
	padding: 24px 80px 15px;
	border-bottom: 1px solid var(--color2);
}

.title h1{
	font-size: 58px;
	margin: 0;
}

.block2 .image-item{
	border-left: 0;
}

.block2 .image-item img{
	max-height: 753px;
}

/* PAGE 2 */

.page2{
	border: 1px solid var(--color2);
	padding: 69px 0;
}

.scorpio-logo-mirrored img{
	transform: scaleX(-1);
}

.page2 h1{
	font-size: 65px;
	margin: 0;
	text-align: center;
}