@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

:root{
	--color1: #fff;
	--color2: #000;
	--bg1: #fff;
	--bg2: #FB4B4D;
}

.color1{
	color: var(--color1);
}

.color2{
	color: var(--color2);
}

a{
	text-decoration: none;
}

body{
	font-family: 'Roboto', sans-serif;
	border: 1px solid #000;
}

/* HEADER */

header{
	padding: 30px 30px;

	border: 1px solid var(--color2);
}

ul{
	list-style: none;
	margin: 0;
}

ul li a{
	color: var(--color2);
}

ul li a:hover{
	color: var(--color2);
}

header button{
	position: relative;
	top: 0;
	padding: 15px 44px;
	text-transform: uppercase;
	background-color: var(--bg2);
	border: 0;
	color: var(--color1);
	transition: all .1s ease-in;
}

header button a:hover{
	color: var(--color1);
}

header button:hover{
	top: -2px;
}

/* PAGE 1 */

.page1{
	border-right: 1px solid var(--color2);
	border-left: 1px solid var(--color2);
}

.page1 .col-6{
	padding: 0;
	border-right: 1px solid var(--color2);
}

.logo-element{
	border-left: 1px solid var(--color2);
	border-bottom: 1px solid var(--color2);
	border-top: 0;
}

.logo-element img{
	width: 636px;
}

/* MARQUEE */

.marquee-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	padding: 23px;
	border-bottom: 1px solid var(--color2);
	border-left: 1px solid var(--color2);
	border-top: 0;
}

.marquee {
	display: flex;
	align-items: center;
	justify-content: center;
	animation: marquee 10s linear infinite;
}

.marquee img{
	margin-right: 29px;
}

.marquee h3{
	font-size: 17px;
	margin: 0;
}

@keyframes marquee {
	0% { transform: translateX(100%); }
	100% { transform: translateX(-100%); }
}

/* ----- */

.image-item{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 15px;
	border-left: 1px solid var(--color2);
	border-bottom: 1px solid var(--color2);
	border-top: 0;
}

.image-item img{
	width: 100%;
}

.title{
	padding: 24px 80px 15px;
	border-bottom: 1px solid var(--color2);
}

.title h1{
	font-size: 58px;
	margin: 0;
}

.block2 .image-item{
	border-left: 0;
}

.block2 .image-item img{
	max-height: 753px;
}

/* PAGE 2 */

.page2{
	border: 1px solid var(--color2);
	padding: 69px 0;
}

.scorpio-logo-mirrored img{
	transform: scaleX(-1);
}

.page2 h1{
	font-size: 65px;
	margin: 0;
	text-align: center;
}

/* PAGE 3 */

.page3{
	border: 1px solid #000;
  border-top: 0;
}

.card-item{
	background: url(../images/frame.svg) no-repeat;
	height: 654px;
  /* border-right: 1px solid #000; */
  padding-top: 129px;
	position: relative;
}

.logo-circle{
	position: absolute;
}

.logo-circle img:nth-child(2){
	position: absolute;
	left: 400px;
}

.logo-circle img:nth-child(3){
	position: absolute;
	left: 840px;
}

.logo-circle img:nth-child(4){
	position: absolute;
	left: 1240px;
}

.card-item h3{
	font-size: 18px;
	color: var(--color2);
}

.card-item h2{
	font-size: 32px;
	color: var(--color2);
	margin-bottom: 14px;
}

/* PAGE 4 */

.page4{
	border: 1px solid #000;
  border-top: 0;
}

/* PAGE 5 */

.page5{
	border-bottom: 1px solid #000;
}

.page5-title{
	padding: 53px 54px;
}

.page5-text{
	background: url(../images/fram2.svg) no-repeat;
	padding-top: 135px;
	padding-left: 152px;
	height: 698px;
	width: 696px;
}

.page5-text p{
	margin-bottom: 22px;
  line-height: 24px;
  width: 392px;
	color: var(--color2);
}

.blockWhatever{
	padding: 0;
	position: relative;
	
	border: 1px solid #000;
	border-top: 0;
}

.page5-img{
	position: absolute;
	bottom: 0;
}

.star{
	padding: 0;
	border: 1px solid #000;
	border-top: 0;
	border-left: 0;
}

/* FOOTER */ 

footer{
	background-color: #FB4B4D;
	height: 100px
}

footer a, p{
	color: var(--color1);
	margin: 0;
}

footer a{
	position: relative;
	top: 0;
	transition: all .2s ease-in-out;
}

footer a:hover{
	color: var(--color1);
	top: -2px;
}

footer h2, p{
	margin: 0;
}






